<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TelemetryDatabaseConnectionString" value="Data Source=localhost;Initial Catalog=MetronViewDemo;Integrated Security=True;Pooling=True;Trust Server Certificate=True;Connect Retry Count=0"/>
    <add key="Metron2GprsReactorPort" value="50200"/>
    <add key="MetronAtexGprsReactorPort" value="50201"/>
  </appSettings>
</configuration>
