<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
      <target xsi:type="AsyncWrapper" name="asyncFile">
        <target name="file" xsi:type="File" fileName="${basedir}/log.txt" layout="${date:format=HH-mm-ss} ${callsite} :> ${message}"/>
      </target>
      <target xsi:type="EventLog" name="eventLog" category="TelemetryService" log="Application" source="TelemetryService" eventId="42"/>
      <target xsi:type="Console" name="console" layout="${date} [${scopeproperty:transactionId}] ${scopeproperty:clientIp} ${callsite}:${message} ${exception:format=Message,Type,StackTrace,Data,Source,TargetSite:innerFormat=Message,Type,StackTrace,Data,Source,TargetSite:maxInnerExceptionLevel=100}"/>
    </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeTo="asyncFile" />
      <logger name="*" minlevel="Debug" writeTo="console" />
      <logger name="*" minlevel="Warn" writeTo="eventLog" />
    </rules>
</nlog>
