[Unit]
Description=Powelectrics Alarms Service

[Service]
Type=notify
WorkingDirectory=/opt/powelectrics/alarm-server/
ExecStart=/opt/powelectrics/alarm-server/AlarmServer
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
SyslogIdentifier=alarms
User=www-data

[Install]
WantedBy=multi-user.target