<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TelemetryDatabaseConnectionString" value="Data Source=localhost;Initial Catalog=PowelectricsTelemetry;User Id=TelemetryServer;Password=Powelectrics"/>
    <add key="MonitorLocation" value="c:\ftp\anonftp"/>
    <add key="SuccessLocation" value="c:\ftp\succeeded"/>
    <add key="FailureLocation" value="c:\ftp\failed"/>
  </appSettings>
</configuration>
